.datasets-view {
    display: block;
    height: 100%;
}

.datasets-view vaadin-grid {
    height: 100%;
    line-height: var(--lumo-line-height-m);
}

.datasets-view vaadin-grid,
.datasets-view vaadin-grid-cell-content {
    background-color: var(--lumo-contrast-10pct);
}

.datasets-view .card {
    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--lumo-box-shadow-xs);
    padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.datasets-view img {
    border-radius: 50%;
    flex-shrink: 0;
    height: var(--lumo-size-m);
    margin-right: calc(var(--lumo-space-s) * 1.5);
    width: var(--lumo-size-m);
}

.datasets-view .header {
    align-items: baseline;
}

.datasets-view .name {
    font-size: var(--lumo-font-size-s);
    font-weight: bold;
    margin-right: var(--lumo-space-s);
}

.datasets-view .date {
    color: var(--lumo-tertiary-text-color);
    font-size: var(--lumo-font-size-xs);
}

.datasets-view .post {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    margin-bottom: var(--lumo-space-s);
    white-space: normal;
}

.datasets-view .actions {
    align-items: center;
}

.datasets-view .icon {
    color: var(--lumo-tertiary-text-color);
    height: calc(var(--lumo-icon-size-s) * 0.8);
    margin-right: var(--lumo-space-s);
    width: calc(var(--lumo-icon-size-s) * 0.8);
}

.datasets-view .likes,
.datasets-view .comments,
.datasets-view .shares {
    color: var(--lumo-tertiary-text-color);
    font-size: var(--lumo-font-size-xs);
    margin-right: var(--lumo-space-l);
}
