.register-view {
    display: block;
    margin-top: 10px;
    max-width: 1024px;
    padding: 0 var(--lumo-space-l);
}

.register-view .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
}
