@import url('./main-layout.css');
@import url('./views/register-view.css');
@import url('./views/login-view.css');
@import url('./views/referencedocuments-view.css');
@import url('./views/plugins-view.css');
@import url('./views/datasets-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

.v-spacer-10 {
    margin-bottom: 10px;
}

.box-shadow-type-1 {
    box-shadow: 3px 3px 4px 2px #00000040;
}

